@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lateef:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {

    border-bottom: 2px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
}

.left-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

a {
    text-decoration: none;
    font-size: 14px;
    color: white;
    font-family: "Be Vietnam Pro", sans-serif;
}

nav {
    display: flex;
    gap: 20px;
    margin-left: 20px;
    justify-content: space-between;
    align-items: center;
}

.left-header img {
    padding: 10px;
    margin: 0px;


}

.hero-section {
    background: linear-gradient(to bottom, rgba(12, 12, 12, 0.7), rgba(5, 4, 4, 0.7)),
        url(/assets/images/html-css-collage-concept-with-person\ 2.png);
    background-size: cover;
    background-position: center;
    
    width: 100vw;
}

.btn {
    background-color: #281571;
    font-family: "Be Vietnam Pro", sans-serif;
    width: 56px;
    height: 25px;
    border: none;
    border-radius: 2px;
    color: #D5D5D5;
}

.btn2 {
    font-family: "Be Vietnam Pro", sans-serif;
    background-color: #DC2316;
    border: none;
    /* width: 86px; */
    border-radius: 3px;
    color: #D5D5D5;
    padding: 10px 20px;
}

.content h1 {
    background: linear-gradient(180deg, #FFFFFF 52.51%, rgba(255, 255, 255, 0) 69.45%, rgba(255, 255, 255, 0) 69.45%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: center;
    font-size: 10vw;
    font-family: "Lateef", serif;
    font-weight: 400;
}

.content1 {
    width: 70%;
    text-align: center;
    color: #FFFFFF;
    margin: auto;
    line-height: 30px;
}

.button {
    display: flex;
    justify-content: center;
    background-color: transparent;
}

.btn3 {
    padding: 8px;
    border: none;
    border-radius: 4px;
    width: 100px;
    margin-top: 23px;
    background-color: transparent;
    border: .5px solid white;
    color: white;
}

.section {
    display: flex;
    align-items: justify;
    line-height: 25px;
    gap: 10px;
    margin-top: 20px;
}

.section .sec {
    padding-left: 20px;
}

.section .sec1 {
    color: #FFFFFF;
    border-left: solid #FFFFFF;
    /* margin-left: 10px; */
}

.section .sec2 {
    color: #FFFFFF;
    border-left: solid #FFFFFF;
}

.section .sec3 {
    color: #FFFFFF;
    border-left:solid #FFFFFF;
}

.section .sec4 {
    color: #FFFFFF;
    border-left: solid#FFFFFF;
}

.item {
    display: flex;
}

.item h1 {
    text-align: center;
    padding-top: 67px;
}

.cards {
    display: flex;
    background: #F9F9F9;
    gap: 40px;
    /* margin: 20px; */
    padding: 10px;
}

span {
    color: #DC2316;

}

.cards h2 {
    font-size: 2em;
}

.middle-sec {
    display: flex;
    text-align: justify;
    gap: 20px;
}


.image img {
    padding: 28px;
    height: 82vh;
}

.content-section {
    padding: 30px;
    line-height: 24px;
}

.btn4 {

    padding: 10px;
    border: solid lightgrey;
    margin-top: 24px;
    color: #191919;
    border-radius: 8px;
}

 